



/*STARTS THE CSS I WROTE WITHOUT THE TREEHOUSE UL GALLERY */
  * { margin:0; padding:0; box-sizing:border-box; }
  /* need reset UL to have margin*/

 body {
      font-family: "News706BT-RomanC",Georgia;
      /*THIS IS THE GA BODY FONT*/
      /*font-family: Verdana, Geneva, sans-serif;*/
      /*SECOND FONT IS WHAT USED ON WDI ADM ASSIGNM*/
    }
    p {
      color: #303030;
      font-family: "News706BT-RomanC",Georgia;
      /*THIS IS THE GA BODY FONT*/
    }
    header {
      text-align: center;
      background: url('http://dash.ga.co/assets/anna-bg.png');
      background-size: cover;
      color: white;
    }
    #opaque-bar {
      background: rgba(0,0,0,0.5);
      text-align: left;
    }
     #adam {
        font-family: 'Oswald', sans-serif;
        font-size: 66px;
        text-align: left;
        color: #FFF;
        padding: 2% 20% 2% 2%;
    }
    #topmenu {
        font-family: 'Oswald', sans-serif;
        font-size: 24px;
        text-align: left;
        color: #fff;
        padding: 2%;
    }
    div#opaque-bar a, a:visited {
      color: #fff;
    }
     div#opaque-bar a:hover {
      color: #d3d3d3;
    }
    #slogan {
      font-size: 18px;
      color: #FFF;
      text-align: left;
      padding: 2%;
      line-height: .5em;
    }
    a:link {
      text-decoration: none;
      color: #FFFFFF;
    }
    /*a:visited {
      color: #D3D3D3;
    }*/
 /*OSWALD IS THE FONT FROM THE AVENUE SQUARESPACE TEMPLATE. I GOT IT FROM GOOGLE FONTS */
    h1, h2, h3, h4, h5, h6 {
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1;
    }
    /*h1 {
      font-size: 50px;
      font-family: Impact, Charcoal, sans-serif;
      font-weight: normal;
      
    }*/
    img {
      margin: 10px 0px 20px 0px;
      border: 7px solid white;
      border-radius: 103px;
    }

    /*
    #portfolio {
      margin: 10px 30px 15px 0px;
      border: 25px;
      border-radius: 0px;
      float: left;
      width: 100%;
      max-width: 200px;
    */

    }
    .background-color {
      background: #ececec;
    }
  
    ul#nav{
      
      /*a is the transparency */
      /* rgba syntax (255,255,255,1)*/
    }
    li {
      display: inline; 
      padding: 0px 20px 0px 20px;
      border-radius: 0px;
      border: #000;
    }
   
    /* #nav {   
      font-family: "PFDinTextCompProBold",Impact,Arial;
      font-size: 30px;
      color: #FFFFFF;
    }*/

    #box {
      background-color: #FBD334;
      width: 150px;
      padding: 5px 10px 5px 10px;
      border: none;
      margin: 0px;
    }


    /* TAKEN STUFF FROM TREEHOUSE UL GALLERY */
img {
  max-width: 100%;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto; 
  padding: 0 5%; 
}

/****************************************
PAGE PORTFOLIO
*****************************************/

#gallery { 
  margin: 0;
  padding: 0;
  list-style: none; 
}

#gallery li {
  float: left; 
  width: 45%; 
  margin: 2.5%;
  padding: 2%;
  background-color: #f0f0f0;
  color: #bdc3c7; 
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}

#gallery img {
  border-radius: 0px;
  border: none;
}

/******************************************** 
THIS EFFECTS LAYOUT AT NARROW WIDTHS 
*********************************************/

    @media (max-width: 500px) {
      h1 {
        font-size: 36px;  
      }
      li{
        display: block;
        padding: 5px;
      }
       
    }
/* *************************************** */


    /* THESE TAGS ALL REMOVED **********

    article {  
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    } 
    input {
      padding: 5px;
      font-size: 16px;
    }
    input[type="submit"] {
      background: red;
      color: white;
      padding: 5px;
    }

    *************************************/